<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ust.shbay.manager.dao.GuideMapper">
    <resultMap id="BaseResultMap" type="com.ust.shbay.manager.entity.Guide">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.ust.shbay.manager.entity.Guide">
        insert into t_guide
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test=" name != null">
                `name`,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="delFlag !=null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>

        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.ust.shbay.manager.entity.Guide">
        update t_guide
        <set>
            <if test="name != null">
                `name` = #{name ,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag= #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user=#{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user=#{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByGuideId" parameterType="com.ust.shbay.manager.entity.Guide" resultMap="BaseResultMap">
        select
        <include refid="Base"/>
        from t_guide where id=#{id ,jdbcType=INTEGER}
    </select>

    <sql id="Base">
        id,`name`,phone,del_flag,create_time,create_user,update_time,update_user
    </sql>

    <select id="selectALL" parameterType="com.ust.shbay.manager.entity.Guide" resultMap="BaseResultMap">
        select  id, `name`, phone from
        t_guide where del_flag = 1 order by update_time desc 
    </select>

</mapper>